:root {
    --dark: #212529;
    --grey: #6c757d;
    --dark-grey: #495057;
    --white: #fff;
    --green: #28a745;
    --blue: #007bff;
    --light: #ced4da;
    --background-color: #f8f9fa;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } 
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    text-align: left;
    background-color: var(--background-color);
  }   
  .logo-div img {
    width: 300px;
  }
  .logo-div {
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
  }
  header {
    text-align: center;
    padding: 48px 0 48px;
  }
  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 8px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .form-container {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
  }    
  .form {
    position: relative;
    padding: 0 15px 0 15px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    order: 1;
  }
  
  #date {
    background-color: var(--light);
    color: var(--dark-grey);
    border: 1px solid var(--light);
    border-radius: 0.25rem;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    width: 100%;
  }
  input[type=text], input[type=email], select {
    border: 1px solid #ced4da;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: var(--white);
    background-clip: padding-box;
    border: 1px solid var(--light);
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }