:root {
    --dark: #212529;
    --grey: #6c757d;
    --dark-grey: #495057;
    --white: #fff;
    --green: #28a745;
    --blue: #007bff;
    --light: #ced4da;
    --background-color: #f8f9fa;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } 
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    text-align: left;
    background-color: var(--background-color);
  }   
  